# while

Fungsi while sama seperti for jika sesuai syarat maka program dijalankan

In [12]:
#untuk melihat oalahan datanya taro print di dalam while
x = 0
while -3<x<2:
    y=x**2
    print(y)
    x=x-1
    print(x)
print(y)

0
-1
1
-2
4
-3
4

In [18]:
a = 2
while 1<a<7:
    print("Angka "+ str(a) + " ada dibawah sama dengan 7 ")
    a += 1

Angka 2 ada dibawah sama dengan 7
Angka 3 ada dibawah sama dengan 7
Angka 4 ada dibawah sama dengan 7
Angka 5 ada dibawah sama dengan 7
Angka 6 ada dibawah sama dengan 7

In [19]:
a = 2
while 1<a<7:
    print(a*'*')
    a += 1

**
***
****
*****
******

# List

List dapat mengeluarkan objek pada phyton baik itu string atau angka

In [1]:
angka = [1,2,3,4]
print(angka)

[1, 2, 3, 4]

In [4]:
#untuk memanggil salah satu objek pada list
print(angka[2])

3

In [5]:
#untuk menambahkan objek dalam list dan pada urutan yang diinginkan
angka[0]= -1
print(angka)

[-1, 2, 3, 4, 5]

In [8]:
#memanggil objek pada urutan yang diinginkan
print(angka[0:3])

[-1, 2, 3]

In [10]:
print(angka)

[-1, 2, 3, 4, 5]

# Metoda List

Metoda list berguna untuk mengubah atau menambahkan sesuatu pada list

In [17]:
kata = ['satu','dua','tiga']
print(kata)

['satu', 'dua', 'tiga']

In [18]:
#append untuk menambahkan objek
kata.append("empat")
print(kata)

['satu', 'dua', 'tiga', 'empat']

In [19]:
##insert untuk menambahkan objek di urutan yang diinginkan
kata.insert(2, 'dua setengah')
print(kata)

['satu', 'dua', 'dua setengah', 'tiga', 'empat']

In [20]:
#remove untuk mengurangi objek
kata.remove('empat')
print(kata)

['satu', 'dua', 'dua setengah', 'tiga']

In [21]:
print('empat'in kata)

False

In [22]:
print(len(kata))

4

# For loop

for loop untuk memanggil semua isi list

In [23]:
for huruf in kata:
    print(huruf)

satu
dua
dua setengah
tiga

In [24]:
kata.remove('dua setengah')

In [25]:
i = 0
while i < len (kata):
    print(kata[i])
    i+=1

satu
dua
tiga

# Range

untuk menggunakan range harus dikombinasikan dengan for loop

In [31]:
angka = [2,4,3,6,8,4,23,4,5,6]
print(angka)

[2, 4, 3, 6, 8, 4, 23, 4, 5, 6]

In [32]:
angka = range(6)
print(angka)

range(0, 6)

In [33]:
for banyak in angka:
    print(banyak)

0
1
2
3
4
5

In [36]:
angka = range(10)
print(angka)

range(0, 10)

In [39]:
for banyak in angka:
    print(banyak)

0
1
2
3
4
5
6
7
8
9