In [1]:
#kegunaan print
print("Ricardo Disini")

Ricardo Disini

In [2]:
#membuat nama
nama_depan ='anggi'

In [3]:
nama_belakang = 'saputra'

In [4]:
print(nama_depan+" "+nama_belakang)

anggi saputra

In [2]:
mahasiswa_14 = 43

In [3]:
uang_di_dompet = 10000

In [4]:
print(mahasiswa_14)

43

In [5]:
print(uang_di_dompet)

10000

In [6]:
print(mahasiswa_14*uang_di_dompet)

430000

In [7]:
mahasiswa_14

43

In [11]:
#guna input untuk mengetikkan sesuatu setelah di run
nama=input("Siapakah nama anda? ")
kegiatan=input('Apakah kegiatan anda sekarang, '+nama+"? ")
print("Semangat "+kegiatan+"nya yaa, "+nama+"!")

Siapakah nama anda? ricardo
Apakah kegiatan anda sekarang, ricardo? belajar
Semangat belajarnya yaa, ricardo!

In [12]:
#memanggil elemen yang diinput
nama

'ricardo'

In [13]:
#memanggil elemen yang diinput
kegiatan

'belajar'

In [17]:
kegiatan = 43

In [18]:
kegiatan

43

In [19]:
nama = input("siapa nama anda?"+" ")

siapa nama anda? ricardo

In [20]:
kegiatan = input("kegiatan anda sekarang?"+" ")

kegiatan anda sekarang? olahraga

In [21]:
print("hai"+nama+"semangat yaa"+" "+kegiatan+"nya"+"!!!")

hairicardosemangat yaa olahraganya!!!

In [22]:
#guna type data int
jumlah_lakilaki = 8

In [23]:
jumlah_perempuan = 10

In [29]:
jumlah = int(jumlah_lakilaki+jumlah_perempuan)

In [30]:
#error karena hanya bisa type data string
print("jumlah mahasiswa : "+jumlah)

TypeError: can only concatenate str (not "int") to str

In [36]:
jumlah = int(jumlah_lakilaki)+int(jumlah_perempuan)

In [34]:
jumlah

18

In [37]:
print("total mahasiswa :"+" "+str(jumlah))

total mahasiswa : 18

In [40]:
jum_laki = input("berapa siswa laki laki = ")
jum_per = input ("berapa siswa perempuan = ")
jumlah_total = int(jum_laki)+int(jum_per)
print("total mahasiwa = "+ str(jumlah_total))

berapa siswa laki laki = 2
berapa siswa perempuan = 3
total mahasiwa = 5

In [43]:
#type int
dompet= int(input("berapa uang anda?"))
tabungan= int(input("total tabungan anda? "))
#total = int(dompet)+int(tabungan)
print("total uang anda "+ str(dompet+tabungan))

berapa uang anda?22
total tabungan anda? 33
total uang anda 55

In [44]:
#error karena menggunakan type data yang salah
jum_laki = input("berapa siswa laki laki = ")
jum_per = input ("berapa siswa perempuan = ")
print("total mahasiwa = "+ int(jum_laki+jum_per))

berapa siswa laki laki = 22
berapa siswa perempuan = 33

TypeError: can only concatenate str (not "int") to str

In [45]:
#type str
jum_laki = input("berapa siswa laki laki = ")
jum_per = input ("berapa siswa perempuan = ")
print("total mahasiwa = "+ str(jum_laki+jum_per))

berapa siswa laki laki = 22
berapa siswa perempuan = 33
total mahasiwa = 2233

In [47]:
#type int
jum_laki = int(input("berapa siswa laki laki = "))
jum_per = int(input ("berapa siswa perempuan = "))
print("total mahasiwa = "+ str(jum_laki+jum_per))

berapa siswa laki laki = 22
berapa siswa perempuan = 33
total mahasiwa = 55

In [48]:
#error karena salah penggunaan type data dan penulisan
jum_laki = input("berapa siswa laki laki = ")
jum_per = input ("berapa siswa perempuan = ")
print("total mahasiwa = "+ int(jum_laki+jum_per))

berapa siswa laki laki = 22
berapa siswa perempuan = 33

TypeError: can only concatenate str (not "int") to str

In [1]:
#untuk type int diluar dari nilai yang mau ditambahkan
nilai1=input("nilai pertama? ")
nilai2=input("nilai kedua? ")
nilai3=input("nilai ketiga? ")
total_nilai=int(nilai1)+int(nilai2)+int(nilai3)
print("Total nilai anda : "+ str(total_nilai))

nilai pertama? 22
nilai kedua? 22
nilai ketiga? 22
Total nilai anda : 66

In [2]:
#fungsi formatted string untuk menggantikan tanda (+) diganti f
nama=input("Nama : ")
kerja=input("Pekerjaan : ")
institusi=input("Institusi : ")
print(f"{nama} adalah seorang {kerja} di {institusi}")

Nama : ricardo
Pekerjaan : pelajar
Institusi : udayana
ricardo adalah seorang pelajar di udayana